@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* navbar styling */
.navbar{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 10px 0;
    background: #0077ff;
}
.navbar .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo a{
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #0077ff;
    transition: all 0.4s ease-in;
}
.navbar.sticky .logo a span{
    color: #ffffff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #0077ff;
}
.navbar.sticky .menu li a{
    color: #ffffff;
}
.navbar.sticky .menu li a:hover{
    color: #142030;
}

/* menu toggle styling */
.menu-toggle{
    color: #ffffff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 30px;
    width: 27px;
    background: #0077ff;
    right: 30px;
    bottom: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    z-index: 9999;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    bottom: 30px;
    pointer-events: auto;
}
/* snow styling */
.yuuki1{
    background: url(../image/./Home/snowKU.png);
    background-repeat: repeat;
    width: 100%;
    height: 638px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animate1 30s linear infinite;
}
@keyframes animate1{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 100px 630px;
    }
}
.yuuki2{
    background-size: 400px;
    background: url(../image/./Home/snowKU.png);
    background-repeat: repeat;
    filter: blur(2px);
    width: 100%;
    height: 638px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animate2 30s linear infinite;
}
@keyframes animate2{
    0%{
        background-position: 0px -100px;
    }
    100%{
        background-position: 0px 630px;
    }
}
.yuuki3{
    background-size: 200px;
    background: url(../image/./Home/snowKU.png);
    background-repeat: repeat;
    filter: blur(4px);
    width: 100%;
    height: 638px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animate3 30s linear infinite;
}
@keyframes animate3{
    0%{
        background-position: 0px 100px;
    }
    100%{
        background-position: 100px 630px;
    }
}


/* home styling */
.home{
    display: flex;
    background: url(../image/./Home/yukinoKU.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #142030;
    font-family: 'Poppins', sans-serif;
    min-height: 500px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 23px;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #0077ff;
    font-weight: 500;
}

/* all similar styling */
.personality, .appearance, .ability{
font-family: 'Quicksand', sans-serif;
}
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 3px;
    background: #000000;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -15px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    transform: translateX(-50%);
}
/* personality styling */
.personality .title::after{
    content: "who kanojo";
    color: #0077ff;
    background: #ffffff;
}
.personality .personality-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.personality .personality-content .left{
    width: 40%;
}
.personality .personality-content .left img{
    width: 400px;
    height: 400px;
    border-radius: 6px;
    object-fit: cover;
}
.personality .personality-content .left{
    width: 35%;
}
.personality .personality-content .right{
    width: 55%;
}
.personality .personality-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.personality .personality-content .right .text span{
    color: #0077ff;
}
.personality .personality-content .right p{
    text-align: justify;
}
.personality .personality-content .right a{
    display: inline-block;
    background: #0077ff;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0077ff;
    transition: all 0.3s ease;
}
.personality .personality-content .right a:hover{
    color: #0077ff;
    background: none;
}


/* appearance styling */
.appearance{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #142030;
}
.appearance .title{
    color: #ffffff;
}
.appearance .title::before{
    background: #0077ff;
}
.appearance .title::after{
    content: "style kanojo";
    color: #ffffff;
    background: #142030;
}
.appearance-bg{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.appearance-bg .card{
    cursor: default;
    position: relative;
    max-width: 530px;
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.appearance-bg .card{
    transition: all 0.3s ease;
}
.appearance-bg .card:hover{
    background: #7c8896;
    transform: scale(1.05);
}
.appearance-bg .card .imgbx{
    max-width: 150px;
}
.appearance-bg .card .imgbx img{
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
    border-radius: 6px;
    height: 200px;
    max-width: 250px;
    transform: translateX(-35px);
}
.appearance-bg .card .appearance-content{
    margin-left: 20px;
}
.appearance-bg .card .appearance-content h2{
    font-size: 25px;
    color: #0077ff;
    padding-bottom: 2px;
}
.appearance-bg .card:hover h2{
    color: #ffffff;
}
.appearance-bg .card .appearance-content p{
    text-align: justify;
}
.appearance-bg .card:hover p{
    color: #ffffff;
}


/* ability styling */
.ability .ability-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.ability .title::after{
    content: "skills kanojo";
    color: #0077ff;
    background: #ffffff;
}
.ability .ability-content .column{
    width: calc(50% - 25px);
}
.ability .ability-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.ability .ability-content .left .text span{
    color: #0077ff;
}
.ability .ability-content .left p{
    text-align: justify;
}
.ability .ability-content .left  a{
    display: inline-block;
    background: #0077ff;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0077ff;
    transition: all 0.3s ease;
}
.ability .ability-content .left a:hover{
    color: #0077ff;
    background: none;
}
.skill-name{
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 13px 0;
}
.skill-bar{
    height: 10px;
    background: #cacaca;
    border-radius: 8px;
}
.skill-per{
    height: 10px;
    background: #0fbcf9;
    border-radius: 8px;
    width: 0;
    position: relative;
    transition: 1s linear;
}
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 3px 4px;
    background: #000000;
    color: #f1f1ff;
    font-size: 13px;
    top: -32px;
    right: 0;
    border-radius: 2px;
    transform: translateX(50%);
}
.skill-per::after{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background: #000000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}


/* quotes styling */
.quotes .title::after{
    content: "quotes";
    color: #0077ff;
    background: whitesmoke;
}
.quotes{
    background: whitesmoke;
}
.quotes-content{
    background: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.quo-wrap{
    width: 80vw;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.quo-wrap .box{
    margin-bottom: 20px;
    position: relative;
    width: 25vw;
    height: 50vh;
    min-height: 320px;
    background: #f2f2f2;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 6px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}
.quo-wrap .box::before {
    content: '\201C';
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    height: 100%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    pointer-events: none;
}
.quo-wrap .box::after {
    content: '\201D';
    position: absolute;
    bottom: -10%;
    right: 5%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    filter: invert(1);
    pointer-events: none;
}
.quo-wrap .box p{
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
}
.quo-wrap .box h3{
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10%;
    right: 10%;
    font-size: 1.5rem;
}
.quo-wrap .box:hover{
    color: #f2f2f2;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}
.quo-wrap .bg-quo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    width: 100%;
    height: 200%;
    overflow: hidden;
}
.quo-wrap .box.box1:hover,
.quo-wrap .box.box1:hover~.bg-quo{
opacity: 1;
background: #e2a9e5;
background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
}
.quo-wrap .box.box2:hover,
.quo-wrap .box.box2:hover.bg-quo {
opacity: 1;
background: #4b384c;
background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
background: -webkit-linear-gradient(-45deg, #4b384c 15%,#da5de2 100%);
background: linear-gradient(135deg, #4b384c 15%,#da5de2 100%);

}
.quo-wrap .box.box3:hover,
.quo-wrap .box.box3:hover~.bg-quo {
opacity: 1;
background: #632c65;
background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
background: -webkit-linear-gradient(-45deg, #632c65 15%,#56a5e2 100%);
background: linear-gradient(135deg, #632c65 15%,#56a5e2 100%);
}
.quo-wrap .box.box4:hover,
.quo-wrap .box.box4:hover~.bg-quo{
opacity: 1;
background: #56a5e2;
background: -moz-linear-gradient(-45deg, #56a5e2 15%, #f048c6 100%);
background: -webkit-linear-gradient(-45deg, #56a5e2 15%,#f048c6 100%);
background: linear-gradient(135deg, #56a5e2 15%,#f048c6 100%);
}
.quo-wrap .box.box5:hover,
.quo-wrap .box.box5:hover.bg-quo {
opacity: 1;
background: #4ca9df;
background: -moz-linear-gradient(-45deg, #4ca9df 15%, #292e91 100%);
background: -webkit-linear-gradient(-45deg, #4ca9df 15%,#292e91 100%);
background: linear-gradient(135deg, #4ca9df 15%,#292e91 100%);
}
.quo-wrap .box.box6:hover,
.quo-wrap .box.box6:hover~.bg-quo {
opacity: 1;
background: #5761b2;
background: -moz-linear-gradient(-45deg, #5761b2 15%, #1fc5ab 100%);
background: -webkit-linear-gradient(-45deg, #5761b2 15%,#1fc5ab 100%);
background: linear-gradient(135deg, #5761b2 15%,#1fc5ab 100%);
}


/* footer start */
footer{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #142030;
}
.main-content{
    display: flex;
}
.main-content .boxt{
    flex-basis: 50%;
    padding: 10px 20px;
}
.boxt h2{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
h2.creator{
    position: relative;
    color: #252839;
    -moz-text-stroke: 0.5px #252852;
    -webkit-text-stroke: 0.5px #252852;
}
h2.creator::before{
    content: attr(data-text1);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #0077ff;
    -moz-text-stroke: 0px #ffffff;
    -webkit-text-stroke: 0px #ffffff;
    border-right: 2px solid #0077ff;
    overflow: hidden;
    animation: animate 5s linear infinite;
}
h2.address{
    position: relative;
    color: #252839;
    -moz-text-stroke: 0.5px #252852;
    -webkit-text-stroke: 0.5px #252852;
}
h2.address::before{
    content: attr(data-text2);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #0077ff;
    -moz-text-stroke: 0px #ffffff;
    -webkit-text-stroke: 0px #ffffff;
    border-right: 2px solid #0077ff;
    overflow: hidden;
    animation: animate 5s linear infinite;
}

h2.contactme{
    position: relative;
    color: #252839;
    -moz-text-stroke: 0.5px #252852;
    -webkit-text-stroke: 0.5px #252852;
}
h2.contactme::before{
    content: attr(data-text3);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #0077ff;
    -moz-text-stroke: 0px #ffffff;
    -webkit-text-stroke: 0px #ffffff;
    border-right: 2px solid #0077ff;
    overflow: hidden;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.boxt .content-add{
    position: relative;
    margin-top: 20px;
}
.boxt .content-add::before{
    position: absolute;
    top: -10px;
    content: '';
    height: 2px;
    width: 100%;
    background: #31343b;
}
.boxt .content-add::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #0077ff;
    top: -10px;
}
.boxt .content-add p{
    text-align: justify;
}
.leftt .content-add .social{
    margin-top: 20px;
}
.leftt .content-add .social a{
    color: #ffffff;
    padding: 0 2px;
}
.leftt .content-add .social a span{
    height: 30px;
    width: 30px;
    background: #31343b;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.leftt .content-add .social a span:hover{
    background: #0077ff;
}
.center .content-add .fas{
    height: 35px;
    width: 35px;
    background: #31343b;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content-add .fas:hover{
    background: #0077ff;
}
.center .content-add .text-add{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 5px;
}
.center .content-add .phone{
    margin: 15px 0;
}
.rightt form{
    margin: 10px 0;
}
.rightt form .text-add{
    font-size: 1rem;
    margin-bottom: 2px;
    color: #44485a;
}
.rightt form .msg{
    margin-top: 10px;
}
.rightt form input,
.rightt form textarea{
    color: #ffffff;
    width: 100%;
    font-size: 1rem;
    background: #202742;
    padding-left: 10px;
    border: 1px solid #252852;
}
.rightt form input:focus{
    outline-color: #0077ff;
}
.rightt form input{
    height: 35px;
}
.rightt form .btn{
    margin-top: 10px;
}
.rightt form .btn button{
    cursor: pointer;
    color: #ffffff;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #0077ff;
    font-size: 1rem;
    transition: .3s;
}
.rightt form .btn button:hover{
    background: #2c3449;
}
.bottom center{
    padding: 5px;
    font-size: 13px;
    background: #31343b;
}
.bottom center span{
    color: #7f8082;
}
.bottom center a{
    color: #0077ff;
    text-decoration: none;
}
.bottom center a:hover{
    text-decoration: underline;
}


/* reponsive media screen start */
@media screen and (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
    .appearance-bg .card{
        width:90% ;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1104px){
    .personality .personality-content .left img{
        width: 350px;
        height: 350px;
    }
    .appearance-bg {
        flex-direction: column;
    }
}
@media screen and (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    .quo-wrap{
        width: 100%;
        flex-direction: column;
    }
    .quo-wrap .box{
        margin-bottom: 30px;
        width: 90%;
    }

}
@media screen and (max-width: 959px){
    .menu-toggle{
        display: block;
        z-index: 999;
    }
    .menu-toggle i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        text-align: center;
        padding-top: 80px;
        background: #0077ff;
        transition: all 0.5s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover{
        color: #000000;
    }
    .home .home-content .text-2{
        font-size: 55px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .max-width{
        max-width: 800px;
    }
    .personality .personality-content .column{
        width: 100%;
    }
    .personality .personality-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .personality .personality-content .right{
        flex: 100%;
    }
    .ability .ability-content .column{
        width: 100%;
    }
    .ability .ability-content .right{
        margin: 30px auto 0;
    }
}
@media screen and (max-width: 900px){
    footer{
        position: relative;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .boxt{
        margin: 5px 0;
    }
}
@media screen and (max-width: 690px){
    .max-width{
        padding: 0 25px;
    }
    .home .home-content .text-2{
        font-size: 45px;
    }
    .home .home-content .text-3{
        font-size: 22px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .appearance-bg {
        flex-direction: column;
    }
    .appearance-bg .card{
        flex-direction: column;
        width: 400px;
    }
    .appearance-bg .card .imgbx{
        max-width: 100%;
        transform: translateX(35px);
    }
}
@media screen and (max-width: 495px){
    .home .home-content .text-1{
        font-size: 20px;
    }
    .home .home-content .text-2{
        font-size: 35px;
    }
    .home .home-content .text-3{
        font-size: 19px;
    }
    .home .home-content a{
        font-size: 15px;
        padding: 5px 20px;
    }
    .appearance-bg .card{
        max-width: 300px;
        margin: 10px;
        padding: 20px;
    }
}
